autopep8==2.3.2
matplotlib==3.11.1
mutagen==1.48.1
numpy==2.5.1
pandas==3.0.5
Pillow==12.3.0
prompt-toolkit==3.0.53
PyMySQL==1.2.0
python-dotenv==1.2.2
requests==2.34.2
SLPP==1.2.3
tqdm==4.70.0
cryptography==49.0.0